{% extends "base.html.twig" %}

{% block title %} {{ parent() }} - Gestion des équipes {% endblock %}

{% block contenu %} <h1> Gestion des équipes </h1> 

    {% if form.valide is defined %} 
        {% if form.valide == true %}
            <h1 class="h3 mb-3 font-weight-normal">{{ form.message }}</h1>
        {% else %}  
            <h1 class="alert alert-danger" role="alert">{{ form.message }}</h1> 
        {% endif %}         
    {% endif %}         

    <div class="panel-body">
        <form  class="form-signin" action="index.php?page=equipe" method="post" enctype="application/x-www-form-urlencoded">
            <label for="libelle" class="sr-only">Libellé:</label>
            <input type="text" id="libelle" name="libelle" class="form-control" placeholder="Saisir un libellé" required autofocus>
            <label for="responsable" class="sr-only">Responsable:</label>
            <select name="responsable" id="responsable" class="form-control">
                <option disabled selected>Responsable non identifié</option> 
                {% for r in listeresp %}
                    <option value="{{ r.email }}">{{ r.nom }} {{ r.prenom }}</option> 
                {% endfor%}    
            </select>    
            <button class="btn btn-lg btn-primary btn-block" type="submit" name="btAjouter">Ajouter</button>
        </form>
    </div>

    <div class="panel">
        <!-- Default panel contents -->
        <div class="panel-heading background-violet">Liste des équipes</div>

        <!-- Table -->
        <div class="table-responsive">
            <table class="table table-hover table-striped">
                <tr><th></th><th>Libellé</th><th>Responsable</th><th></th><th></th></tr>
                        {% for e in liste %}
                    <tr><td> <div class="btn-group btn-group-lg"><a href="index.php?page=equipeinfo&id={{e.id}}"><span class="glyphicon glyphicon-new-window violet" aria-hidden="true"></span></a></div></td><td>{{e.libelle}}</td><td>{{e.nom}} {{e.prenom}} </td><td> <div class="btn-group btn-group-lg"><a href="index.php?page=equipemodif&id={{e.id}}"><span class="glyphicon glyphicon-pencil violet" aria-hidden="true"></span></a></div></td><td><div class="btn-group btn-group-lg"><a href="index.php?page=equipe&id={{e.id}}"><span class="glyphicon glyphicon-trash violet" aria-hidden="true"></span></a></div></td></tr> 
                                {% endfor %}    
            </table>
        </div>
    </div>

{% endblock %} 


