{% extends "base.html.twig" %}

{% block title %} {{ parent() }} - Voir mes équipes {% endblock %}

{% block contenu %}

    <h1>{{e.libelle}}</h1>
    <h3>Responsable : {{e.nom}} {{e.prenom}}</h3>
    <h4>Téléphone : {{e.telephone}}</h4>
    <h4>Adresse : {{e.adresse}}</h4>
    <div class="panel">

        <!-- Table -->
        <div class="table-responsive">
            <div class="panel-heading background-violet">Membres de l'équipe</div>
            <table class="table table-hover table-striped">
                <tr><th>Nom et prénom</th><th>Numéro de téléphone</th><th>Adresse</th></tr>
                        {% for d in lesdevs %}
                    <tr><td>{{d.nom}} {{d.prenom}}</td><td>{{d.telephone}}</td><td>{{d.adresse}}</td></tr> 
                {% endfor %}    
            </table>
        </div>
    </div>

{% endblock %} 


