{% extends "base.html.twig" %}

{% block title %} {{ parent() }} - Equipe {% endblock %}

{% block contenu %}

    <h1> Equipe : {{e.libelle}} </h1> 
    <h2> Responsable : {{e.nom}} {{e.prenom}}</h2>

    <h2>Liste des développeurs associés :</h2>
    
    {%for d in lesDevs%}

    {{d.nom}} {{d.prenom}} <a href="index.php?page=equipeinfo&id={{e.id}}&emailDev={{d.email}}"><span class="glyphicon glyphicon-remove violet" aria-hidden="true"></span></a><br>

    {% endfor %}

    <h3>Ajouter un développeur : </h3>
    <div class="panel-body">
        <form  class="form-signin" action="index.php?page=equipeinfo&id={{e.id}}" method="post" enctype="application/x-www-form-urlencoded">
            <label for="dev" class="sr-only">Développeur:</label>
            <select name="dev" id="dev" class="form-control">
                <option disabled selected>développeur non identifié</option> 
                {% for d in listedev %}
                    <option value="{{ d.email }}">{{ d.nom }} {{ d.prenom }}</option> 
                {% endfor%}    
            </select>    
            <button class="btn btn-lg btn-primary btn-block" type="submit" name="btAjouter">Ajouter</button>
        </form>
    </div>


{% endblock %} 
