{% extends "base.html.twig" %}
{% block style %}<link href="css/style-signin.css" rel="stylesheet"> {% endblock %}
{% block title %} {{ parent() }} Accueil - S'inscrire {% endblock %}
       
{% block contenu %} 

{% if form.valide is defined %} 
    {% if form.valide == true %}
       <h1 class="h3 mb-3 font-weight-normal">Inscription réussie</h1>
       <h1 class="h3 mb-3 font-weight-normal">Voici votre identifiant : {{form.email}}</h1>
       {% if form.role == 1 %}
           <h1 class="h3 mb-3 font-weight-normal">Vous êtes administrateur du site</h1>
       {% else %}
           <h1 class="h3 mb-3 font-weight-normal">Vous êtes un utilisateur du site </h1>
       {% endif %}    
       <h1 class="h3 mb-3 font-weight-normal"><a href="index.php">Connectez-vous</a></h1>
    {% else %} 
       <h1 class="h3 mb-3 font-weight-normal">Echec de l'inscription</h1> 
   <h1 class="alert alert-danger" role="alert">{{ form.message }}</h1> 
       <h1 class="h3 mb-3 font-weight-normal"><a href="index.php?page=inscrire">Retourner sur la page d'inscription</a></h1>
    {% endif %}     
       
{% else %}  
 <form class="form-signin" action="index.php?page=inscrire" method="post" enctype="application/x-www-form-urlencoded">
      <h1 class="h3 mb-3 font-weight-normal">Inscrivez-vous</h1>
      <h2>Utilisateur</h2>
      <label for="email" class="sr-only">Email:</label>
      <input type="email" id="email" name="email" class="form-control" placeholder="Email" required autofocus>
      <label for="password" class="sr-only">Mot de passe:</label>
      <input type="password" id="password" name="password" class="form-control" placeholder="Mot de passe" required>
      <label for="password2" class="sr-only">Mot de passe:</label>
      <input type="password" id="password2" name="password2" class="form-control" placeholder="Confirmation mot de passe" required>
      {# Nom et prénom #}
      <label for="nom" class="sr-only">Nom:</label>
      <input type="text" id="nom" name="nom" class="form-control" placeholder="Nom" required>
      <label for="prenom" class="sr-only">Prénom:</label>
      <input type="text" id="prenom" name="prenom" class="form-control" placeholder="Prénom" required>
      {# Tel et adresse #}
      <label for="telephone" class="sr-only">Telephone:</label>
      <input type="text" id="telephone" name="telephone" class="form-control" placeholder="Telephone" required>
      <label for="adresse" class="sr-only">Adresse:</label>
      <input type="text" id="adresse" name="adresse" class="form-control" placeholder="Adresse" required>
      <h2>Entreprise</h2>
            <label for="siren" class="sr-only">SIREN:</label>
      <input type="text" id="siren" name="siren" class="form-control" placeholder="SIREN" required>
      <label for="denomination" class="sr-only">Dénomination:</label>
      <input type="text" id="denomination" name="denomination" class="form-control" placeholder="Dénomination" required>
      {# Tel et adresse #}
      <label for="telephoneE" class="sr-only">Telephone:</label>
      <input type="text" id="telephoneE" name="telephoneE" class="form-control" placeholder="Telephone" required>
      <label for="adresseE" class="sr-only">Adresse:</label>
      <input type="text" id="adresseE" name="adresseE" class="form-control" placeholder="Adresse" required>
     
      <button class="btn btn-lg  btn-block" type="submit" name="btInscrire">S'inscrire</button>
     
 </form>
   
{% endif %}  
{% endblock %} 
