{% extends "base.html.twig" %}

{% block title %} {{ parent() }} - Gestion des outils {% endblock %}
       
{% block contenu %} <h1> Gestion des outils </h1> 


 <form class="form-signin" action="index.php?page=outils" method="post" enctype="application/x-www-form-urlencoded">
     
      <label for="libelle" class="sr-only">Libellé:</label>
      <input type="text" id="libelle" name="libelle" class="form-control" placeholder="Libellé" required autofocus>
      <label for="version" class="sr-only">Version:</label>
      <input type="text" id="version" name="version" class="form-control" placeholder="Version">
      
      <button class="btn btn-lg  btn-block" type="submit" name="btAjouter">Ajouter</button>
     
 </form>
     
<br>        
    
<div class="panel">
  <!-- Default panel contents -->
  <div class="panel-heading background-violet">Liste des outils</div>

  <!-- Table -->
  <form action="index.php?page=outils" method="post" enctype="application/x-www-form-urlencoded">
  <div class="table-responsive">
  <table class="table table-hover table-striped">
      <tr><th>Libellé</th><th>Version</th><th>Modifié</th><th>Supprimer</th><th>Coche</th></tr>
   {% for o in liste %}
          <tr><td>{{o.libelle}}</td><td>{{o.version}}</td><td> <div class="btn-group btn-group-lg"><a href="index.php?page=outilsmodif&code={{o.code}}"><span class="glyphicon glyphicon-pencil violet" aria-hidden="true"></span></a></div></td><td><div class="btn-group btn-group-lg"><a href="index.php?page=outils&code={{o.code}}"><span class="glyphicon glyphicon-trash violet" aria-hidden="true"></span></a><td><input type="checkbox" name="cocher[]" id="cocher[]" value="{{o.code}}"/></td></div></td></tr>
   {% endfor %}    
   <tr><td></td><td></td><td></td><td></td></td><td><input type="checkbox" id="allchecked"/>  Tout séléctionner</td></tr>
   <tr><td></td><td></td><td></td><td><td><button class="btn" type="submit" name="btSupprimer">Supprimer</button></td></tr>
  </table>
  </div>
</form>
</div>

{% endblock %} 

{% block script %}
<script src="js/checkall.js"></script>
{% endblock %}