{% extends "base.html.twig" %}

{% block title %} {{ parent() }} - Liste des projets{% endblock %}
       
{% block contenu %}<h1>Voir les projets</h1>
<div class="panel">
  <!-- Default panel contents -->
  <div class="panel-heading background-violet">Liste de vos projets</div>

  <!-- Table -->
  <div class="table-responsive">
  <table class="table table-hover table-striped">
      <tr><th>Libellé</th><th>Description</th><th></th><th></th></tr>
   {% for p in liste %}
          <tr><td>{{p.libelle}}</td><td>{{p.description}}</td><td><a href="index.php?page=tacheajout&code={{p.code}}">ajouter une tâche</a></td><td><a href="index.php?page=tacheliste&code={{p.code}}">voir les tâches</a></td></tr> 
   {% endfor %}    
  </table>
  </div>
</div>

{% endblock %} 