<h1>Liste des projets de {{entreprise.denomination}}</h1>
<table border="1" style="border-collapse: collapse;">
    <tr>
        <th>Libellé</th>
        <th>Statut</th>
        <th>Date de signature</th>
    </tr>
    {% for p in projets %}
    <tr>
        <td>{{p.libelle}}</td>
        <td>{{p.libelleStatut}}</td>
        <td>{{p.dateSign}}</td>
    </tr>
    {% endfor %}
</table>