{% extends "base.html.twig" %}

{% block title %} {{ parent() }} - Liste des projets{% endblock %}
{% block contenu %}<h1>Liste des projets</h1>

    <div class="panel">
        <!-- Default panel contents -->
        <div class="panel-heading background-violet">Liste des projets</div>

        <!-- Table -->
        <form action="index.php?page=projet" method="post" enctype="application/x-www-form-urlencoded">
        <div class="table-responsive">
            <table class="table table-hover table-striped">
                <tr><th>Libellé</th><th>Description</th><th>Statut</th><th>Equipe</th><th></th><th>Supprimer</th></tr>
                        {% for p in liste %}
                    <tr><td>{{p.libelle}}</td>
                        <td>{{p.description}}</td>
                        <td>
                                <select name="statut">
                                    {% for s in listestatuts %}
                                        {% if s.id == p.statut %}
                                            <option value="{{s.id}}" selected>{{s.libelle}}</option>
                                        {% else %}
                                            <option value="{{s.id}}">{{s.libelle}}</option>
                                        {% endif %}
                                    {% endfor%}    
                                </select>
                                <input type="hidden" name="code" value="{{p.code}}">
                                <button type="submit" name="btModifierS">OK</button>
                        </td>
                        <td>
                                <select name="equipe">
                                    {% if p.idEquipe is null %}
                                        <option value="null" selected>Pas d'équipe</option>
                                    {% else %}
                                        <option value="null">Pas d'équipe</option>
                                    {% endif %}
                                    {% for e in listeequipe %}

                                        {% if e.id == p.idEquipe %}
                                            <option value="{{e.id}}" selected>{{e.libelle}}</option>
                                        {% else %}
                                            <option value="{{e.id}}">{{e.libelle}}</option>
                                        {% endif%}

                                    {% endfor%}
                                </select>
                                <input type="hidden" name="code" value="{{p.code}}">
                                <button type="submit" name="btModifierE">OK</button>

                        </td>
                        <td><div class="btn-group btn-group-lg"><a href="index.php?page=projet&code={{p.code}}"><span class="glyphicon glyphicon-trash violet" aria-hidden="true"></span></a><td><input type="checkbox" name="cocher[]" id="cocher[]" value="{{p.code}}"/></td></div></td>
                    </tr> 
                {% endfor %} 
                <tr><td></td><td></td><td></td><td></td><td></td></td><td><input type="checkbox" id="allchecked"/>  Tout séléctionner</td></tr>
                        <tr><td></td><td></td><td></td></td><td><td><td><button class="btn" type="submit" name="btSupprimer">Supprimer</button></td></tr>
            </table>
        </div>
        </form>
    </div>
{% endblock %}
{% block script %}
<script src="js/checkall.js"></script>
{% endblock %}