{% extends "base.html.twig" %}

{% block title %} {{ parent() }} - Ajout d'un projet {% endblock %}
       
{% block contenu %} <h1> Ajout d'un projet</h1> 

{% if form.valide is defined %} 
    {% if form.valide == true %}
       <h1 class="h3 mb-3 font-weight-normal">Ajout réussie</h1>
    {% else %} 
       <h1 class="h3 mb-3 font-weight-normal">{{form.message}}</h1> 
    {% endif %}     
{% else %}      
    
<div class="panel-body">
  <form  class="form-signin" action="index.php?page=projetajout" method="post" enctype="application/x-www-form-urlencoded">
    <label for="libelle" class="sr-only">Libellé:</label>
    <input type="text" id="libelle" name="libelle" class="form-control" placeholder="Saisir un libellé" required autofocus>
    <label for="desc" class="sr-only">Description:</label>
    <textarea id="desc" name="desc" placeholder="Saisir la description" required class="form-control"></textarea>
    <button class="btn btn-lg btn-primary btn-block" type="submit" name="btAjouter">Ajouter</button>
  </form>
</div>    
{% endif %}
{% endblock %} 
