<style>
       table {
              width:100%;
              border-collapse: collapse;
       }
       th, td {
              padding: 5px;
       }
</style>

<h1>Liste des tâches du projet : {{projet.libelle}}</h1>
<table border=1>
      <tr><th>Libellé</th><th>Commentaires</th><th>Date de début</th><th>Date de fin</th></tr>
   {% for t in liste %}
          <tr><td>{{t.libelle}}</td><td style="width:41%;">{{t.commentaire}}</td><td>{{t.dateDeb|date("d/m/Y")}}</td><td>{{t.dateFin|date("d/m/Y")}}</td></tr> 
   {% endfor %}    
</table>