{% extends "base.html.twig" %}

{% block title %} {{ parent() }} - Liste des tâches{% endblock %}

{% block contenu %}
    <h1>{{projet.libelle}}</h1>
    <div class="panel">
        <!-- Table -->
        <div class="table-responsive">
            <div class="panel-heading background-violet">Liste des tâches du projet</div>
            <table class="table table-hover table-striped">
                <tr><th>Libellé</th><th>Commentaires</th><th>Date de début</th><th>Date de fin</th><th></th><th></th></tr>
                        {% for t in liste %}
                    <tr><td>{{t.libelle}}</td><td>{{t.commentaire}}</td><td>{{t.dateDeb|date("d/m/Y")}}</td><td>{{t.dateFin|date("d/m/Y")}}</td><td><div class="btn-group btn-group-lg"><a href="index.php?page=tachemodif&code={{t.code}}"><span class="glyphicon glyphicon-edit violet" aria-hidden="true"></span></a></div></td><td><div class="btn-group btn-group-lg"><a href="index.php?page=tacheliste&code={{t.codeProj}}&codeT={{t.code}}"><span class="glyphicon glyphicon-trash violet" aria-hidden="true"></span></a></div></td></tr> 
                                {% endfor %}    
            </table>
            <form action="index.php?page=tacheliste&code={{projet.code}}" method="post">
                <button name="btDL" type="submit">Télécharger</button>
            </form>
        </div>
    </div>

{% endblock %}
