{% extends "base.html.twig" %}

{% block title %} {{ parent() }} -  Modifier la tâche{% endblock %}
{% block contenu %}
    <h1>Modifier la tâche</h1>
    <form class="form-signin" action="index.php?page=tachemodif&code={{codeTache}}" method="post" enctype="application/x-www-form-urlencoded">

        <label for="heure" class="sr-only">Nombre d'heures:</label>
        <input type="text" id="heure" name="heure" class="form-control" placeholder="Nombre d'heures" >

        <input type="hidden" name="code" value="{{codeTache}}">
        <button class="btn btn-lg btn-primary btn-block" type="submit" name="btModifier">Mettre à jour</button>

    </form>

{% endblock %}