{% extends "base.html.twig" %}

{% block title %} {{ parent() }} - Voir mes tâches {% endblock %}

{% block contenu %}
<h1>Liste des tâches</h1>
<div class="panel">
    <!-- Default panel contents -->
    <div class="panel-heading background-violet">Liste de mes tâches à réaliser</div>

    <!-- Table -->
    <div class="table-responsive">
        <table class="table table-hover table-striped">
            <tr>
                <th>Modifier</th>
                <th>Libellé</th>
                <th>Commentaires</th>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>Libellé du projet</th>
                <th>Equipe</th>
            </tr>
            {% for t in mestaches %}
            <tr>
                <td><a href="index.php?page=tachemodifheure&code={{t.code}}"><span
                            class="glyphicon glyphicon-new-window violet" aria-hidden="true"></span></a></td>
                <td>{{t.libelle}}</td>
                <td>{{t.commentaire}}</td>
                <td>{{t.dateDeb | date('d/m/Y')}}</td>
                <td>{{t.dateFin | date('d/m/Y')}}</td>
                <td>{{t.libelleProj}}</td>
                <td><a href="index.php?page=equipevoir&id={{t.idEquipe}}">Voir</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}