{% extends "base.html.twig" %}

{% block title %} {{ parent() }} - Gestion des utilisateurs {% endblock %}
       
{% block contenu %} <h1> Gestion des utilisateurs </h1> 


 <form class="form-signin" action="index.php?page=utilisateur" method="post" enctype="application/x-www-form-urlencoded">
      <h1 class="h3 mb-3 font-weight-normal">Inscrivez-vous au tableau de bord</h1>
      <label for="email" class="sr-only">Email:</label>
      <input type="email" id="email" name="email" class="form-control" placeholder="Email" required autofocus>
      <label for="password" class="sr-only">Mot de passe:</label>
      <input type="password" id="password" name="password" class="form-control" placeholder="Mot de passe" required>
      <label for="password2" class="sr-only">Mot de passe:</label>
      <input type="password" id="password2" name="password2" class="form-control" placeholder="Confirmation mot de passe" required>
      {# Nom et prénom #}
      <label for="nom" class="sr-only">Nom:</label>
      <input type="text" id="nom" name="nom" class="form-control" placeholder="Nom" required>
      <label for="prenom" class="sr-only">Prénom:</label>
      <input type="text" id="prenom" name="prenom" class="form-control" placeholder="Prénom" required>
      {# Tel et adresse #}
      <label for="telephone" class="sr-only">Telephone:</label>
      <input type="text" id="telephone" name="telephone" class="form-control" placeholder="Telephone" required>
      <label for="adresse" class="sr-only">Adresse:</label>
      <input type="text" id="adresse" name="adresse" class="form-control" placeholder="Adresse" required>
      <label for="coutHoraire" class="sr-only">Coût horaire:</label>
      <input type="text" id="adresse" name="coutHoraire" class="form-control" placeholder="Coût Horaire">
      <label for="role" class="sr-only">Rôle:</label>
      <select name="role" id="role" class="form-control" required>
          <option disabled selected>Selectionner...</option>
          {% for r in listeRole %}
              <option value={{r.id}}>{{r.libelle}}</option>
          {%endfor%}    
      </select>
      
          
      <br>
      <button class="btn btn-lg  btn-block" type="submit" name="btInscrire">S'inscrire</button>
     
 </form>
     
<br>        
    
<div class="panel">
  <!-- Default panel contents -->
  <div class="panel-heading background-violet">Liste des utilisateurs</div>

  <!-- Table -->
  <form action="index.php?page=utilisateur" method="post" enctype="application/x-www-form-urlencoded">
  <div class="table-responsive">
  <table class="table table-hover table-striped">
      <tr><th>Email</th><th>Nom</th><th>Prénom</th><th>Telephone</th><th>Adresse</th><th>Coût horaire</th><th>Rôle</th><th>Modifier</th><th>Supprimer</th></tr>
   {% for u in liste %}
          <tr><td>{% if u.idRole == 3 %}<a href="index.php?page=projetclientvoir&email={{u.email}}">{{u.email}}</a>{% else %}{{u.email}}{% endif %}</td><td>{{u.nom}}</td><td>{{u.prenom}}</td><td>{{u.telephone}}</td><td>{{u.adresse}}</td><td>{{u.coutHoraire}}</td><td>{{u.libelle}}</td><td> <div class="btn-group btn-group-lg"><a href="index.php?page=utilisateurmodif&email={{u.email}}"><span class="glyphicon glyphicon-pencil violet" aria-hidden="true"></span></a></div></td><td><input type="checkbox" name="cocher[]" id="cocher[]" value="{{u.email}}"/></td></tr> 
   {% endfor %}
      <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>Tout séléctionner <input type="checkbox" id="allchecked"/></td></tr>
   <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td><button class="btn" type="submit" name="btSupprimer">Supprimer</button></td></tr>
  </table>
  </div>
  </form>
</div>

{% endblock %} 

