{% extends "base.html.twig" %}
{% block style %}<link href="css/style-signin.css" rel="stylesheet"> {% endblock %}
{% block title %} {{ parent() }} - Modifier un utilisateur {% endblock %}

{% block contenu %} 

    {% if u is defined %} 
        {% if u != null %}
            <form class="form-signin" action="index.php?page=utilisateurmodif" method="post" enctype="application/x-www-form-urlencoded">
                <h1 class="h3 mb-3 font-weight-normal">Modifier un utilisateur</h1>
                <label for="password" class="sr-only">Mot de passe:</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="Mot de passe">
                <label for="password2" class="sr-only">Mot de passe:</label>
                <input type="password" id="password2" name="password2" class="form-control" placeholder="Confirmation mot de passe">
                {# Nom et prénom #}
                <label for="nom" class="sr-only">Nom:</label>
                <input type="text" id="nom" name="nom" class="form-control" placeholder="Nom" value="{{u.nom}}" required >
                <label for="prenom" class="sr-only">Prénom:</label>
                <input type="text" id="prenom" name="prenom" class="form-control" placeholder="Prénom" required value="{{u.prenom}}">
                {# Tel et adresse #}
                <label for="telephone" class="sr-only">Telephone:</label>
                <input type="text" id="telephone" name="telephone" class="form-control" placeholder="Telephone" required value="{{u.telephone}}">
                <label for="adresse" class="sr-only">Adresse:</label>
                <input type="text" id="adresse" name="adresse" class="form-control" placeholder="Adresse" required value="{{u.adresse}}">
                <label for="coutHoraire" class="sr-only">Coût horaire:</label>
                <input type="text" id="adresse" name="cout" class="form-control" placeholder="Coût Horaire" value="{{u.coutHoraire}}">
                <label for="role" class="sr-only">Rôle:</label>
                <select class="form-control" name="role" id="role">
                    {% for r in listeRole %}
                        {% if r.id==u.idRole %}
                            <option value="{{ r.id }}" selected>{{ r.libelle }}</option>
                        {% else %}
                            <option value="{{ r.id }}">{{ r.libelle }}</option>   
                        {% endif %}    
                    {% endfor %}   

                </select>
                <input type="hidden" name="email" value="{{u.email}}">
                <button class="btn btn-lg btn-primary btn-block" type="submit" name="btModifier">Modifier</button>

            </form>
        {% else %} 
            <h1 class="alert alert-danger" role="alert">{{ form.message }}</h1> 
            <h1 class="h3 mb-3 font-weight-normal"><a href="index.php?page=utilisateur" class="violet">Retourner sur la liste des utilisateurs</a></h1>
        {% endif %}     

    {% else %}  
        {% if form.valide == true %}
            <h1 class="h3 mb-3 font-weight-normal">{{ form.message }} </h1>
            <h1 class="h3 mb-3 font-weight-normal"><a href="index.php?page=utilisateur" class="violet">Retourner sur la liste des utilisateurs</a></h1>
        {% else %}    
            <h1 class="alert alert-danger" role="alert">{{ form.message }}</h1> 
            <h1 class="h3 mb-3 font-weight-normal"><a href="index.php?page=utilisateur" class="violet">Retourner sur la liste des utilisateurs</a></h1>
        {% endif %} 
    {% endif %}      

{% endblock %} 

